@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <form action="">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password">
        </div>
        <button>Me connecter</button>
    </form>
