@model HomeModel
@{
    ViewData["Title"] = "Sorry I'm Late";
}

<style>
    .card {
        margin: 10px;
    }
    body{
        background-image: url("img/bg.jpg");
    } 
    .card-body {
        padding: 0.5rem;
    }
</style>
<div class="modal fade" id="lateModal" tabindex="-1" role="dialog" aria-labelledby="lateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lateModalLabel">Je suis en retard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("addLateTicket")" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input name="subject" type="text" placeholder="Pourquoi est-tu en retard ?" />
                    </div>
                    <div class="form-group">
                        <label>Date :</label>
                        <input type="datetime" name="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="form-group">
                        <label for="picture">Une Preuve ?</label>
                        <input type="file" name="image" value="" accept="image/png, image/jpeg" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="row">
    @foreach (var item in Model.tickets)
    {
    <div class="card col-2">
        <img class="card-img-top" src="~/img/upload/@item.image" alt="Card image cap">
        <div class="card-body">
            @item.Subject
        </div>
        <div class="card-body">
                Mérite : @item.merite
                <a href="/Home/UpVote/@item.id" ><img src="img/icons/clap.svg" alt="Bien joué Nils" style="width: 32px;" data-toggle="tooltip" data-placement="top" title="<img src='img/clap.gif'>"></a>
                <a href="/Home/DownVote/@item.id" ><img src="img/icons/hit.svg" alt="Va bosser !" style="width: 32px;" data-toggle="tooltip" data-placement="top" title="<img src='img/slap.gif'>"></a>
        </div>
    </div>
    }
    
</div>

<script >
    var init = function(){
        
        $("a").on("click", function(){
            $.ajax({
                url: $(this).data("url"),
                type: 'default GET (Other values: POST)',
                dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                data: {param1: 'value1'},
            })
            .done(function() {
                console.log("success");
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }) 

    }
</script>